 /*p { background-color: red; } */
 p {
    color: #300303;
    text-align: center;
  font-family: Garamond;
  }

  h1   {color: #300303 ;
    text-transform: uppercase;
    text-align: center;
  font-family: Garamond;
  margin-top: 1em ;
  padding-top: 1em ;
}

h2   {color: #300303 ;
  text-transform: uppercase;
  text-align: center;
font-family: Garamond;
margin-top: 1em ;
padding-top: 1em ;
}
  
  .list 
  {
    color: #300303 ;
    text-align: justify ;
  }


  table {
    border: 1px solid;
  }
  
  #red-point 
  {
    color: #300303 ;

  }

  a {
    color: #300303 ;
    text-transform: uppercase;
    text-align-last: center;
  font-family: Garamond; 
  }

  body {

    margin: 0 auto;
    max-width: 50em;
    text-align: center;
    font-size: large;
    line-height: 1.5 ;
    padding: 4em 1em ;
  
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    mix-blend-mode: multiply;
    background-repeat: repeat;
    background-image: url("images/background.jpg");
  }

  .center-container {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    gap: 2em; 
    margin: 2em auto;
    max-width: 900px; 
  }

  

