body {
    font-family: 'Figtree';
    font-size: 24px;
    background-color: var(--background-color);
    color: var(--text-color);
    
}

:root {
    --text-color: #FFFFFF;
    --link-color: #FFFFFF;
    --background-color: #0C1B2F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    color: white;
    text-decoration: none;
    font-family: 'Caveat', cursive;
    font-size: 32px;
}

a:visited {
    color: rgb(209, 236, 255);
}

.notcursive {
    font-family: 'Figtree';
    font-size: 24px;
    color: var(--text-color);
}



@font-face {
    font-family: 'Caveat';
    src: url('caveat.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;
    height: 80px;
    background-color: #05244B;
}

@media(width<=600px) {
    .sometimes-hidden-img {
        display: none;
    }

    nav {
        padding: 0 20px;
    }

}

h1 {
    color: (--link-color);
    text-decoration: none;
    display: flex;
    font-weight: 900;
    font-size: 64px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h3 {
    color: (--link-color);
    text-decoration: none;
    font-family: 'Caveat';
    font-size: 48px;
    display: flex;
    height: 48px;
}

h4 {
    color: (--link-color);
    text-decoration: none;
    display: flex;
    font-size: 32px;
}

.sectionbox {
    align-items: center;
    display: flex;
    color: (--link-color);
    text-decoration: none;
    font-family: 'Caveat', cursive;
    font-size: 32px;
    height: 80px;
    background-color: #05244B;
    padding: 0 50px;
    justify-content: center;
    
}

.info {
    display: flex;
    flex-direction: column;
}

.infoabout {
    display: flex;
    justify-content: space-around;
    min-height: 400px;
    min-width: 530px;
    align-items: stretch;
    padding: 0 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
}

.textinfoabout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
}

.infotools {
    display: flex;
    justify-content: space-evenly;
    min-height: 200px;
    align-content: space-around;
    padding: 0 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 30px 30px;
    flex-flow: row wrap;
}

.toolbox {
    display: flex;
    min-width: 320px;
   padding: 20px;
   margin-top: 40px;
    height: 80px;
    align-items: center;
    background-color: #05244B;
    border-radius: 15px;
    justify-content: center;
    gap: 20px;
}

.projectbox {
    display: flex;
    align-items: center;
    border-radius: 15px;
    justify-content: center;
    gap: 20px;
}

.head {
    background-image: url("images/headBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    height: 300px;
    text-shadow: 0px 5px 30px #05244B;
}

.darkesthead {
    background-image: url("images/darkestBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    height: 300px;
    text-shadow: 0px 5px 30px #05244B;
}

.doghead {
    background-image: url("images/dogBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    height: 300px;
    text-shadow: 0px 5px 30px #05244B;
}

.trainhead {
    background-image: url("images/trainBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    height: 300px;
    text-shadow: 0px 5px 30px #05244B;
}

.portfolioArt {
  width: 100%;      
  height: auto;      
  display: block;    
  max-width: 100%;  
    padding: 50px;
}

.title {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}